.one-person-card a{
    text-decoration: none;
    color: white;
}

.hr-person-card{
    margin-inline: 2vw;
    width: 90%;
}

.person-card {
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-inline: 2vw;
}


.person-card img {
    width: 4vw;
    height: 4vw;
}

.person-card p {
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .person-card {
        gap: 4vw;
    }
.person-card img {
    width: 8vw;
    height: 8vw;
}

.person-card .name-message p{
font-size: 0.8rem;
}

.person-card .name-message h3 {
    margin-bottom: 0;
}
}

@media (max-width: 768px) {

}

@media (max-width: 481px){

}