#menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vw;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #161b22;
  top: 0;
}

#menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  overflow: hidden; /*só exibe o que tiver dentro do tamamnho do pai.*/
  display: none;
  background-color: #172c3a;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

#menu-mobile nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6vw;
  margin: 0;
  margin-top: 4vw;
  align-items: center;
}

#menu-mobile nav button {
  width: 22vw;
  padding: 1vw;
  height: 8vw;
  align-self: center;
}

#menu-mobile nav ul {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 8vw;
  margin: 0;
  padding: 0;
  width: 100%;
}

#menu-mobile nav ul li {
  width: 100%;
  text-align: end;
  padding: 4vw;
  transition: 0.2s ease;
}

#menu-mobile nav ul li:hover {
  background-color: #58a6ff;
}

#botao-menu-mobile {
  display: none;
  position: fixed;
  top: 3vw;
  right: 3vw;
  font-size: 1.65rem;
  cursor: pointer;
}

#sair-menu-mobile {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 2vw;
}

#mobile-footer {
  display: none;
  background-color: #172c3a;
  padding: 8vw;
  flex-direction: column;
  align-items: center;
}

#mobile-footer .social-media,
#mobile-footer .mobile-links {
  display: flex;
  gap: 4vw;
  margin-block: 2vw;
}

#mobile-footer .social-media .ico {
  border: 1px solid gray;
  padding: 2.5vw;
  border-radius: 100%;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#mobile-footer .social-media .ico:hover {
  transform: scale(1.1);
}

#menu-desktop img {
  margin-inline: 1vw;
}

a {
  text-decoration: none;
  color: #c9d1d9;
  transition: 0.5s ease-in-out;
}

a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  display: flex;
  gap: 4vw;
}

nav {
  display: flex;
  gap: 3vw;
  margin-inline: 1vw;
}

button {
  background-color: #58a6ff;
  width: 7vw;
  height: 3vw;
  border: none;
  border-radius: 5px;
  color: #c9d1d9;
  cursor: pointer;
  transition: 0.5s ease-in;
}

button:hover {
  background-color: #c9d1d9;
  color: #58a6ff;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
}

#banner h1 {
  font-size: 3rem;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 4vw;
}

#about h2 {
  font-size: 2.5rem;
}

#about p {
  width: 50vw;
  font-size: 1.5rem;
}

#posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
  margin-block: 4vw;
}

#posts .cards-posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#notices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  margin-block: 4vw;
}

#notices .cards-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4vw;
}

#groups .img-group {
  height: 11vw;
  background-image: url(../../assets/js-group.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#groups .cards-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4vw;
}

#search .input-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#search .input-buscar input {
  border: none;
  padding: 0.25vw;
  width: 50vw;
  height: 3vw;
  border-radius: 5px;
  background-color: #1c2128;
  color: white;
  box-shadow: 0px 6px 17px 7px #00000096;
}

#argument {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
}

#argument .argument-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2vw;
  align-items: center;
}

#argument .argument-cards .ex-argument {
  background-color: #58a6ff;
  padding: 1vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 15vw;
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease;
}

#argument .argument-cards .ex-argument:hover {
  transform: scale(1.1);
}

#argument .argument-cards .ex-argument img {
  width: 10vw;
}

#desktop-footer {
  padding: 4vw;
  background-color: #172c3a;
  display: flex;
  flex-direction: column;
  gap: 12vw;
}

#desktop-footer .superior-footer {
  display: flex;
  justify-content: space-between;
}

#desktop-footer .superior-footer .slogan-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

#desktop-footer .superior-footer .slogan-button button {
  border-radius: 30px;
  width: 10vw;
}

#desktop-footer .superior-footer .slogan-button b {
  font-size: 1.5rem;
  color: white;
}

#desktop-footer .superior-footer .slogan-button .buttons {
  display: flex;
  gap: 2vw;
}

#desktop-footer .superior-footer .links {
  display: flex;
  gap: 2vw;
}

#desktop-footer .superior-footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}

#desktop-footer .superior-footer .links ul .title {
  font-weight: bolder;
  color: white;
}

#desktop-footer .inferior-footer .terms-service {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#desktop-footer .inferior-footer > p {
  font-weight: bolder;
  font-size: 12rem;
  margin-block: 3vw;
  color: white;
}

/*Responsividade: */

@media (max-width: 1024px) {
  /*config menu e gerais: */
  #argument,
  #search,
  #groups,
  #posts,
  #about,
  #banner {
    margin-block: 7vw;
  }
  #desktop-footer {
    display: none;
  }
  #menu-desktop {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  #botao-menu-mobile {
    display: block;
  }

  #menu-mobile.ativo {
    width: 50vw;
  }

  #landing p {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  #menu-mobile nav ul {
    gap: 5vw;
  }

  #menu-mobile nav ul li {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 4vw;
    padding-inline-end: 7vw;
  }

  #botao-menu-mobile {
    top: 1.5vw;
    font-size: 2rem;
  }

  #sair-menu-mobile {
    font-size: 2rem;
  }

 

  #argument h2,
  #search h2,
  #notices h2,
  #groups h2,
  #posts h2,
  #about h2,
  #banner h2 {
    font-size: 2rem;
  }

  /*Sessao 1: */
  #banner > h1 {
    font-size: 2.75rem;
  }

   #banner button {
    font-size: 1rem;
    width: 15vw;
    height: 4vw;
  }
  /*Sessao 2: */

  #about p {
    font-size: 1.4rem;
    width: 60%;
  }

  /*Notice */
    #groups .img-group {
    height: 13vw;
  }


}

@media (max-width: 768px) {
  /*config menu e gerais: */
  #argument,
  #search,
  #groups,
  #posts,
  #about,
  #banner {
    margin-block: 10vw;
  }

  #menu-mobile.ativo {
    width: 40vw;
  }

  #landing p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  #mobile-footer {
    display: flex;
  }

  button {
    font-size: 1.1rem;
    width: 20vw;
    padding: 1.5vw;
    height: 6vw;
  }

  #mobile-footer > p {
    font-size: 0.9rem;
    font-weight: 300;
  }

  /*config sections*/

  #banner > h1 {
    font-size: 2rem;
  }

  /*SESSION 2*/

  #about p {
    font-size: 1.3rem;
    width: 80%;
  }

  #about h2 {
    font-size: 1.75rem;
  }

  /*SESSION 3: */

  #posts h2 {
    font-size: 1.75rem;
  }

  #posts .cards-posts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  /*SESSION 4: */
  #groups h2 {
    font-size: 1.75rem;
  }
  #groups .cards-group {
    flex-direction: column;
    gap: 10vw;
  }

  #groups .img-group {
    background-size: cover;
    height: 20vw;
  }

  #groups .conteudo {
    padding: 2vw;
  }

  /*SESSION 5: */
  #search h2 {
    font-size: 1.75rem;
  }
  #search .input-buscar input {
    height: 5vw;
    width: 60vw;
    font-size: 1.1rem;
  }

  /*SESSION 6: */
  #argument .argument-cards {
    flex-direction: column;
    gap: 6vw;
  }

  #argument .argument-cards .ex-argument {
    width: 35vw;
    height: 30vw;
  }
}

@media (max-width: 481px) {
  /*config menu e gerais: */
  #argument,
  #search,
  #groups,
  #posts,
  #about,
  #banner {
    margin-block: 15vw;
  }

  #argument h2,
  #search h2,
  #groups h2,
  #notices h2,
  #posts h2,
  #about h2,
  #banner h2 {
    font-size: 1.4rem;
  }

  #landing p,
  a {
    font-size: 0.95rem;
    line-height: 1.8;
  }

  #menu-mobile.ativo {
    width: 50vw;
  }

  button {
    width: 25vw;
    height: 8vw;
  }

  #banner {
    height: 70vw;
  }
  #banner h1 {
    font-size: 1.7rem;
  }

  /*Sessao 1: */

  #about p {
    width: 90%;
  }

  /*Sessao 2: */

  #posts .cards-posts {
    gap: 15vw;
  }

  /*Sessao 3: */
  #notices .cards-notice {
    width: 90%;
  }
  /*Sessao 4: */
  #groups .img-group {
    height: 35vw;
  }
  /*Sessao 5: */

  #search .input-buscar input {
    height: 7vw;
    width: 70vw;
    font-size: 0.95rem;
    padding: 0.5vw;
  }

  #search .input-buscar button {
    width: 18vw;
    height: 7vw;
    font-size: 0.95rem;
  }

  /*Sessao 6: */
  #argument .argument-cards .ex-argument {
    width: 45vw;
    height: 50vw;
  }

  #argument .argument-cards .ex-argument p {
    margin-top: 0;
  }

  #argument .argument-cards .ex-argument img {
    width: 15vw;
  }

  /*Footer */
  #mobile-footer .social-media .ico {
    font-size: 1.2rem;
    padding: 4vw;
  }
}
